<form method="GET" action="/dinosaurs">
    <label for="nameFilter">Filter by Name:</label>
    <input id="name" type="text" name="nameFilter"> 
    <input type="submit">
</form>

<ul>
    <% myDinos.forEach((dino) => { %>
        <li><%= dino.name %> is a <%= dino.type %></li>
        <a href="/dinosaurs/edit/<%= index %>">Edit</a>
        <form method="POST" action="/dinosaurs/<%= index %>/?method=DELETE">
            <input type="submit" value="Delete">
        </form>
    <% }) %>
</ul>